# Dependencies (The most important part!)
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env
.env.local

# VS Code & System files
.vscode/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
bun.lockb

# Build Analysis Reports
stats.html